.issues_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  background-color: black;
}

.issue_rows {
  display: flex;

  justify-content: space-around;
  margin: 10px 10px;
}
